<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Basic</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/upload">Upload file</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    
    <div class="upload-file-container">
      <h1>Handing File Uploads using Express.js anh Multer</h1>
        <form action="/upload-profile-pic" enctype="multipart/form-data" method="POST">
            <div>
                <h3>Upload single file:</h3>
                <div>
                  <span>Upload yoor profile picture:</span>
                  <input type="file" name="profile_pic">
                </div>
            </div> 

            <div>
                <button class="btn-save" type="submit">Upload</button>
            </div>
        </form>

        <hr>

        <form action="/upload-multiple-images" enctype="multipart/form-data" method="POST">
            <div>
                <h3>Upload Multiple File:</h3>
                <div>
                  <span>Select multiplpe file:</span>
                  <input type="file" name="multiple_images" multiple>
                </div>
            </div> 

            <div>
                <button class="btn-save" type="submit">Upload</button>
            </div>
        </form>
    </div>

  </body>
</html>
